@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&family=Tienne:wght@400;700;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Roboto Condensed';
    background-color: #eeeeea;

}
nav{
    background: #878E76;
    height: 100px;
    width: 100%px;
}
label.logo{
    color: white;
    font-size: 60px;
    line-height: px;
    padding: 0 70px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: bold;
    float: left;
}
nav ul{
    float: left; 
    margin-right: 20px;
}
nav ul li{
    display: inline-block; 
    line-height: 75px;
    margin: 0 5px;
}
nav ul li a{
    position: relative;
    text-decoration: none; 
    color: #ffff;
    width: 100px;
    display: block;
    padding: 10px 120px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a:hover{
    color: #555;
}
.gallery{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left; 
    text-align: center; 
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: white; 
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transform: translate(0px, -8px)
}
img{
    width: 200px;
    height: 200px;
    text-align: center; 
    margin: 0 auto; 

}
p{
    text-align: center; 
    color: black;
    padding: top; 

}
h6{
font-size: 20px;
text-align: center; 
color: black;
}
h4{
    font-size: 20px;
    text-align: center; 
    color: black;
}
h3{
    font-size: 20px;
    text-align: center; 
    color: black;
    }

button{
    text-align: center; 
    font-size: 15px;
    color: white; 
    width: px;
    margin: 10px;
    padding: 5px;
    border: 0;
    outline: none; 
cursor: pointer;
background-color: #878e76;
border-radius: 5px;
}
.posAbs{
    position: absolute;
    left: 60px;
    top: 165px;
    width: 200px;
    height: 50%;
    background: #38383e;
    border-radius: 20px;
}
.posAbs ul{
    float: left;
    margin-right: 20px;
}
.posAbs li{
    display: inline-block; 
    line-height: 75px;
    margin: 0 5px;
}
.posAbs li a{
    position: relative;
    text-decoration: none; 
    color: #ffff;
    width: 100px;
    display: block;
    padding: 10px 120px;
    font-size: 20px;
    border-radius: 0px;
    right: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.posAbs ul li a:hover{
    color: #878e76;
}